* {
    padding: 0;
    margin: 0;
}

#poubelle_gauche {
margin-left: 238.75px;
border: none;
}

#poubelle_droite {

border: none;
}

canvas {
    border: 1px black solid;
    /*margin-left: 320px;*/

    /*transform: rotate(180 deg);*/
}

/* AFFICHAGE DE J1 J2 */

#j1 {
  color:red;
  font-size: 120px;
  font-family: 'Anton', sans-serif;
}

#j2 {
  color:blue;
  font-size: 120px;
  font-family: 'Anton', sans-serif;
}

div {
  position:absolute;
  top : 243px ;
  left: 589px ;
}

#echecs {
    top: 700px;
    color: red;
    font-size: 32px;
    text-align: center;
}


/* GERE LA ROTATION DU PLATEAU */

@-webkit-keyframes rotation {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(180deg);
    }
}

@-webkit-keyframes derotation {
    from{
        -webkit-transform: rotate(180deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotation {
    -webkit-animation: rotation 0.8s linear;
    transform: rotate(180deg);
}

.derotation {
    -webkit-animation: derotation 0.8s linear;
    transform: rotate(360deg);
}
