* {
    padding: 0;
    margin: 0;
}

canvas {
    border: 1px black solid;
    margin-left: 320px;
    margin-top: 50px;
    transform: rotate(180 deg);
}

#j1 {
  color:red;
  font-size: 120px;
  font-family: 'Anton', sans-serif;
}

#j2 {
  color:blue;
  font-size: 120px;
  font-family: 'Anton', sans-serif;
}

div {
  position:absolute;
  top : 245px ;
  left: 321px ;
}
